<strong>
  <p class="red-text center">
    <% if @comments.count == 0 %>
        No Comment For this Post!
    <% end %>
  </p>
</strong>

<%=link_to new_user_post_comment_path(post_id: @post.id,user_id: @user.id), :class =>'btn-floating btn-large waves-effect waves-light right blue material-icons' do %>
    <i class="material-icons">add_comment</i>
<%end%>
<h3> Showing comments for post <b><%= @post.title %></b></h3>

<table class="striped">
  <thead>
  <tr>
    <th>#</th>
    <th> Post Title</th>
    <th>Comment</th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
      <tr>
        <td> <%= comment.id %> </td>
        <td> <%= comment.body %> </td>
        <td>
          <%= link_to edit_user_post_comment_path({ id: comment.id, post_id: @post.id,user_id: @user.id }), :class=> 'btn blue' do %>
              <i class="material-icons">edit</i>
          <% end %>

          <%= link_to user_post_comment_path({ id: comment.id, post_id: @post.id, user_id: @user.id }), :class =>'waves-effect waves-light btn red', :method=> 'delete',
                      data: {confirm:'Are you sure you want to delete?', disable_with: 'deleting...'} do %>
              <i class="material-icons">delete</i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
