<!DOCTYPE html>
<html>
  <head>
    <title>Bloggerman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <strong>
    <p class="green-text card-text">
      <% if flash[:success] %>
          <%= flash[:success] %>
      <% end %>
    </p>
  </strong>

  <strong>
    <p class="red-text card-text">
      <% if flash[:error] %>
          <% flash[:error].each do |error| %>
              <%= error %>
          <% end %>
      <% end %>
    </p>
  </strong>
    <%= yield %>
  </body>
</html>
